.container{
    max-width: 400px;
    margin: auto;
    border: 1px solid #eee;
    padding: 10px;
}
.header{
    background: #f57c00;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 8% 0;
    margin-bottom: 10px;
}
.tabs{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.tab{
    cursor: pointer;
    font-weight: bold;
    color: #f58220;
}
.tab.active{
    text-decoration: underline;
}

.chart{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.row{
    display: flex;
    align-items: center;
}
.country{
    width: 100px;
    display: flex;
    align-items: center;
    gap: 4px;
}
.country img{
    width: 10px;
    height: 8px;
    object-fit: cover;
}
.bar{
    flex: 1;
    background: #eee;
    height: 14px;
    position: relative;
    border-radius: 2px;
}
.bar-fill{
    height: 100%;
    background: #eee;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5px;
    position: relative;
}
.count{
    background: #660000;
    color: #fff;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 12px;
}

.stats-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 40px auto;
  position: relative;
  padding: 20px;
}

.circle-background {
  position: absolute;
  width: 300px;
  height: 300px;
  border: 8px solid orange;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.card {
  background: #fff;
  border-radius: 12px;
  box-shadow:  0 4px 10px rgba(0, 0, 0, 0.05);
  padding: 20px;
  display: flex;
  max-width: 500px;
  text-align: center;
  gap: 15px;
  z-index: 1;
}

.card img {
  width: 60px;
  height: 60px;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-title {
  font-weight: bold;
  font-size: 16px;
}

.card-value {
  font-size: 24px;
  font-weight: bold;
}

.dashboard{
  padding: 50px;
  display: flex;
  gap: 40px;
}

.chart-container{
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  width: 500px;
  margin: auto;
}

.custom-legend{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}
.legend-item{
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}
.legend-item img{
  width: 20px;
  height: 20px;
}


h3{
  margin-top: 0;
  padding: 20px;
}

.charts{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.donut-wrapper p{
  font-weight: 500px;
  margin-bottom: 8px;
}
.donut-center{
  position: relative;
  width: 120px;
  height: 120px;
  margin: auto;
}
.center-label{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 20px;
}

.details{
  margin-top: 10px;
  font-size: 14px;
}
.legend{
  margin-top: 40px;
  font-size: 14px;
}
.dot{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 6px;
}
.orange{
  background-color: #f7931e;
}
.blue{
  background-color: #4669d9;
}