/* body{
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    margin: 0;
    padding: 20px;

} */

.container{
    max-width: 800px;
    margin: auto;
    border: 1px solid #eee;
    padding: 20px;
}

.header{
    background: #f57c00;
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
}

.tabs{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.tab{
    cursor: pointer;
    font-weight: bold;
    color: #f58220;
}

.tab.active{
    text-decoration: underline;
}

.chart-container{
    position: relative;
    margin-top: 30px;
    height: 500px;
    overflow-y: auto;
}

canvas{
    width: 100% !important;
    height: auto !important;
}

.chart{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.row{
    display: flex;
    align-items: center;

}

.country{
    width: 200px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.country img{
    width: 20px;
    height: 15px;
    object-fit: cover;
}
.bar{
    flex: 1;
    background: #eee;
    height: 25px;
    position: relative;
    border-radius: 5px;
}

.bar-fill{
    height: 100%;
    background: #f57c00;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5px;
    position: relative;
}
.count{
    background: #660000;
    color: #fff;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 12px;
}